services:
  db:
    image: postgres:16
    environment:
      POSTGRES_DB: payouts
      POSTGRES_USER: payouts
      POSTGRES_PASSWORD: payouts
    volumes:
      - pgdata:/var/lib/postgresql/data
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U payouts -d payouts" ]
      interval: 5s
      timeout: 3s
      retries: 20

  redis:
    image: redis:7
    healthcheck:
      test: [ "CMD", "redis-cli", "ping" ]
      interval: 5s
      timeout: 3s
      retries: 20

  web:
    build:
      context: .
      args:
        INSTALL_DEV: "false"
    env_file: .env
    environment:
      DOCKER_ENV: "1"
    command: >
      gunicorn config.wsgi:application
      --bind 0.0.0.0:8000
      --workers 3
      --timeout 30
    ports:
      - "8000:8000"
    volumes:
      - .:/app
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_healthy

  worker:
    build:
      context: .
      args:
        INSTALL_DEV: "false"
    env_file: .env
    environment:
      DOCKER_ENV: "1"
    command: celery -A config worker -l info
    volumes:
      - .:/app
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_healthy

  test:
    build:
      context: .
      args:
        INSTALL_DEV: "true"
    env_file: .env
    environment:
      DOCKER_ENV: "1"
    entrypoint: [ ]
    command: pytest -q
    volumes:
      - .:/app
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_healthy

volumes:
  pgdata:
